/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
  background: -o-linear-gradient(@stop,
                                 @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb(@start,@start,@start)),
                               color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb(@start,@start,@start) 0%,
                                  rgb(@stop,@stop,@stop) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb(@start,@start,@start) 0%,
                                   rgb(@stop,@stop,@stop) 100%);
  background: -o-linear-gradient(rgb(@stop,@stop,@stop),
                                 rgb(@start,@start,@start));
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",rgb(@stop,@stop,@stop),rgb(@start,@start,@start)));
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.glow(@color, @blur: 2px) {
  -webkit-text-shadow: 0 0 @blur @color;
     -moz-text-shadow: 0 0 @blur @color;
          text-shadow: 0 0 @blur @color;
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.border-top-left-radius(@topleft) {
  -webkit-border-top-left-radius: @topleft;
      -moz-border-radius-topleft: @topleft;
          border-top-left-radius: @topleft;
}
.border-top-right-radius(@topright) {
  -webkit-border-top-right-radius: @topright;
      -moz-border-radius-topright: @topright;
          border-top-right-radius: @topright;
}
.border-bottom-right-radius(@bottomright) {
  -webkit-border-bottom-right-radius: @bottomright;
      -moz-border-radius-bottomright: @bottomright;
          border-bottom-right-radius: @bottomright;
}
.border-bottom-left-radius(@bottomleft) {
  -webkit-border-bottom-left-radius: @bottomleft;
      -moz-border-radius-bottomleft: @bottomleft;
          border-bottom-left-radius: @bottomleft;
}
.border-radius(@topleft: 0, @topright: 0, @bottomright: 0, @bottomleft: 0) {
  .border-top-left-radius(@topleft);
  .border-top-right-radius(@topright);
  .border-bottom-right-radius(@bottomright);
  .border-bottom-left-radius(@bottomleft);
  .background-clip(padding-box);
}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}
.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}
.rotation(@deg:5deg){
  .transform(rotate(@deg));
}
.scale(@ratio:1.5){
  .transform(scale(@ratio));
}
.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}
.user-select(@argument: none) {
  -webkit-user-select: @argument;
  -moz-user-select: @argument;
  -ms-user-select: @argument;
  user-select: @argument;
}

.column-width(@columnWidth) {
  -webkit-column-width: @columnWidth;
     -moz-column-width: @columnWidth;
          column-width: @columnWidth;
}
.column-count(@columnCount) {
  -webkit-column-count: @columnCount;
     -moz-column-count: @columnCount;
          column-count: @columnCount;
}
.column-gap(@columnGap) {
  -webkit-column-gap: @columnGap;
     -moz-column-gap: @columnGap;
          column-gap: @columnGap;
}
.column-rule-color(@columnRuleColor) {
  -webkit-column-rule-color: @columnRuleColor;
     -moz-column-rule-color: @columnRuleColor;
          column-rule-color: @columnRuleColor;
}
.column-rule-style(@columnRuleStyle) {
  -webkit-column-rule-style: @columnRuleStyle;
     -moz-column-rule-style: @columnRuleStyle;
          column-rule-style: @columnRuleStyle;
}
.column-rule-width(@columnRuleWidth) {
  -webkit-column-rule-width: @columnRuleWidth;
     -moz-column-rule-width: @columnRuleWidth;
          column-rule-width: @columnRuleWidth;
}
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  .column-width(@colwidth);
  .column-count(@colcount);
  .column-gap(@colgap);
  .column-rule-color(@columnRuleColor);
  .column-rule-style(@columnRuleStyle);
  .column-rule-width(@columnRuleWidht);
}
.translate(@x:0, @y:0) {
  .transform(translate(@x, @y));
}
.background-clip(@argument: padding-box) {
  -webkit-background-clip: @argument;
     -moz-background-clip: @argument;
          background-clip: @argument;
}//.background-clip


/* Transition Properties
 * ============================================================ */
.transition-property(@property: all) {
  -webkit-transition-property: @property;
     -moz-transition-property: @property;
       -o-transition-property: @property;
          transition-property: @property;
}//.transition-property
.transition-timing-function(@timing: ease) {
  -webkit-transition-timing-function: @timing;
     -moz-transition-timing-function: @timing;
       -o-transition-timing-function: @timing;
          transition-timing-function: @timing;
}//.transition-timing-function
.transition-delay(@delay: 0) {
  -webkit-transition-delay: @delay;
     -moz-transition-delay: @delay;
       -o-transition-delay: @delay;
          transition-delay: @delay;
}//.transition-delay
.transition-duration(@duration: 0.2s) {
  -webkit-transition-duration: @duration;
     -moz-transition-duration: @duration;
       -o-transition-duration: @duration;
          transition-duration: @duration;
}//.transition-duration
.transition(@duration: 0.2s, @ease: ease-out) {
  -webkit-transition: all @duration @ease;
     -moz-transition: all @duration @ease;
       -o-transition: all @duration @ease;
          transition: all @duration @ease;
}//.transition


/* Meta-Selectors
 * ============================================================ */
.selection(@background, @color) {
  // Safari
  ::selection,
  // Firefox
  ::-moz-selection {
    background: @background;
    color: @color;
  }
}//.selection
